
table {
    width: 70%;
    height: 70vh;
    background-color: grey;
    color : white;
}
td {
    width:20%;
    text-align: center;
    font-size:25px;

}
td:hover {
    background-color:lightgray;

}

#resultArea{font-size: 45px;
            color: red;
}
#result{
    background-color:blue;

}

#result:hover{
    background-color: blueviolet;
}







